<li>
    <div class='album'>
        <strong><%= album.name %></strong>
        <%= image_tag album.cover_photo.url if album.cover_photo.present? %>
        <p><%= album.description %></p>
        <%= button_to 'Ir ao Album', album, method: :get %>
    </div>
</li>